<% if @post.persisted?
  action = "/posts/#{@post.id}"
else
  action = "/posts"
end %>
<form action="<%= action %>" method="post">
  <%= '<input type="hidden" name="_method" value="patch">'.html_safe if @post.persisted? %>
  <h2>Title<input type="text" name="post[title]" value="<%= @post.title %>"></h2><br>
  <h2>Body<textarea name="post[body]" rows="10" cols="50"><%= @post.body%></textarea></h2><br>
  <label><%= render partial: 'category_picker' %></label>
  <input type="submit" name="submit" value="Post!">
</form>
